<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Ottawa311 Pie</div>
    </div>
    <button type="button" class="btn btn-default navbar-btn" onclick="getCharts({})">Home</button>
  </div>
</nav>

<div class="well"><h4 id="title"></h4></div>
<div class="well"><h4 id="total"></h4></div>

<div class="panel panel-default" id="chart1panel">
  <div class="panel-heading">
    <h3 class="panel-title" id="chart1title">Panel title</h3>
  </div>
  <div class="panel-body">
    <div id="chart1" class="chart"></div>
  </div>
</div>

<div class="panel panel-default" id="chart2panel">
  <div class="panel-heading">
    <h3 class="panel-title" id="chart2title">Panel title</h3>
  </div>
  <div class="panel-body">
    <div id="chart2" class="chart"></div>
  </div>
</div>
